body {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial', 'ÉÅÉCÉäÉI', Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN','MS PGothic';
background-color: #fafafa;
}
body a {
text-decoration: none;
}
body a:hover {
color: #aaa;
}
#headmenu {
z-index: 2;
font-family: 'Noto Sans JP','Hiragino Kaku Gothic Pro','ÉqÉâÉMÉmäpÉS Pro W3','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
font-weight: bold;
font-size: 12pt;
width: 80%;
height: 100px;
display: block;
padding: 0 10%;
margin: 0;
position: absolute;
top: 0;
left: 0;
text-align: center;
background-color: #abdc48;
}
#domochilab {
display: inline-block;
height: 50px;
width: auto;
padding: 25px 20px;
margin: 0;
vertical-align: top;
}
#menu {
float: left;
}
#menu a {
color: #111;
font-weight: bold;
font-size: 16px;
display: inline-block;
vertical-align: top;
position: relative;
width: auto;
height: 16px;
padding: 42px 20px;
margin: 0;
text-decoration: none;
transition-duration: 0.1s;
transition-property: background-color, color;
transition-timing-function: linear;
}
#menu a:hover {
background-color: #fff;
color: 
}
#menu a img {
transition-duration: 0.1s;
transition-property: top, opacity;
transition-timing-function: linear;
display: block;
position: absolute;
top: 30px;
right: -20px;
opacity: 0;
}
#menu a:hover img {
display: block;
position: absolute;
top: 75px;
right: -20px;
opacity: 1;
}
  
#lang {
  display: inline-block;
  padding: 0;
  margin: 0 100px;
float: right;
color: #333;
}
#lang a {
color: #333;
  font-weight: normal;
font-size: 12px;
  display: inline-block;
  width: auto;
  height: 12px;
  padding: 0;
  margin: 44px 10px;
}
#lang a:hover {
color: #fff;
}
#content {
font-size: 17px;
line-height: 1.9;
letter-spacing: 0.5px;
display: block;
width: 70%;
height: auto;
padding: 5%;
margin: 70% auto 10% auto;
background-color: #fff;
color: #333;
position: relative;
z-index: 1;
}
h1 {
font-family: 'Avenir','Helvetica Neue','Helvetica','Arial', 'ÉÅÉCÉäÉI', Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN','MS PGothic';
font-size: 30px;
color: #333;
border-width: 0px 0px 0px 20px;
border-color: #A6CC47;
border-style: solid;
padding: 0 20px;
margin: 10px;
}
#mainciska {
width: 50%;
  margin: 5px;
position: fixed;
top: 100px;
right: 0;
z-index: 0;
}
.clr {
  clear: both;
display: block;
margin: 0;
padding: 0;
height: 0;
}